* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
}

body {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.container {
    height: 100%;
    width: 100%;

}

.topnav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

/* Find my location  */
.search-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

input {
    border: none;
    background-color: rgb(255, 255, 255, 1);
    height: 2rem;
    width: 12rem;
    border-radius: 0.5rem;
    position: relative;
    color: rgb(2, 0, 36);
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    padding-left: 0.5rem;
}

/* spinner */
.spinner {
    border: 1rem solid rgb(243, 243, 243);
    border-top: 1rem solid rgba(20, 158, 220, 255);
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    animation: spin 2s linear infinite;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* error message */
.error-message {
    height: 10vh;

}

.error {
    padding-bottom: 1rem;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    color: rgb(255, 255, 255);
}


/* Location */
.location {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

/* Today's Weather  */
.today-card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    height: 45vh;
    max-height: 45vh;
    width: 90%;
    text-align: center;
}

.today-temp {
    font-size: 4rem;
    font-weight: 100;
}

.today-weather-icon img {
    height: 8rem;
    width: auto;
}

.today-description,
.temp-max-min {
    font-size: 1.5rem;
}

/* Hourly Weather  */
.hourly-card {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 1.5rem;
    padding: 0.25rem 1rem 1.25rem 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    height: 35vh;
    max-height: 35vh;
    width: 90%;
}

.card-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hourly-weather-card {
    display: flex;
    text-align: center;
    column-gap: 0.75rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hourly-weather-card::-webkit-scrollbar {
    display: none;
}

.weather-icon img {
    height: 4rem;
    width: auto;
}

.temp {
    font-size: 1.5rem;
    font-weight: 600;
}

/* DailyForecast  */
.forecast-card {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 1.5rem;
    padding: 0.25rem 1rem 1.25rem 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    height: 55vh;
    max-height: 55vh;
    width: 90%;
}

.forecast-weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.75rem;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.forecast-weather-info::-webkit-scrollbar {
    display: none;
}

.day,
.date {
    font-size: 1rem;
    font-weight: 600;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

@media screen and (min-width: 500px) {

    .hourly-weather-card {
        justify-content: space-between;
    }

}